body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); /*아이콘 사용하기 위한 코드2*/

html, body { margin : 0; padding : 0; height : 100%; width:100%;}
.left {
    text-align : left;
}
#header {
    text-align : center;
    width : 100%;
    height : 10dvh;
 }
#logo {
    width: 15%;
    padding-top: 1%;
    display: inline-block;
    float: left;
}
#menu {
    width: 70%;
    float: left;
    font-size: 14px;
}
#login {
    width: 15%;
    height: 10dvh;
    margin-top: 10px;
    float:left;
    font-size: 12px;
}
.loginInput{
    margin: 50px auto 0 auto;
    display: flex;
    height: 70px;
    justify-content: center;
}
.loginInput input {
    width: 500px;
    font-size: 16px;
}
.loginIcon{
    margin-top: 10px;
}
#nav {
    width : 15%;
    height : 80dvh;
    float : left;

}
#nav div ul {
    height: 65dvh;;
}
#nav div ul li {
    text-decoration-line : none;
    margin : 10% 0 10% 0;
}
#section {
    width : 70%;
    height : 80dvh;
    float : left;
}
.fontFt {
    font-size: 15px;
}
.widthTh {
    width: 200px;
}
.fontTw {
    font-size: 20px;
}
#div {
    margin-bottom: 5%;
}
.div1 {
    padding: 0px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
.div2 {
    display: block;
}
.div1 p {
    background-color : #0606C0;
    float:left;
    bolder: 0px;
    height: 40px;
}
.div1-title {
    text-align: center;
    color: white;
    font-size: 21px;
    width: 15%;
    margin: 0px;
    height: 42px;
    line-height: 42px;
}
.div1-sub1 {
    background-color : #0606C0;
    width: 100%;
    height: 3px;
}
.div1-sub2 {
    background-color: #EEEEEE;
    width: 100%;
    height: 39px;
    padding: 10px;
}
.div1-sub {
    width: 85%;
}
ul li {
    list-style-type : none;
}
.div2-title {
    color: blue;
}
.bold {
    font-weight: bold;
}
.Search_box {
    margin: 120px auto;
    display: flex;
    justify-content: center;
}
#option, #query, #icon {
    display : inline-block;
    height: 60px;
    font-size: 20px;
}
#option {
    width: 120px;
}
#query {
    width : 500px;
}
#icon{
    width : 60px;
}
#nav-tabs {
    position : static;
}
#tab-cont {
    position : static;
}
#aside {
    width : 15%;
    height : 80dvh;
    float : left;
}

footer {
    width : 100%;
    height : 10dvh;
    float : left;
}
a {
    text-decoration : none;
}
#k {
 width:100%;
}
#q {
    padding-top: 1%;
    width: 15%;
    float: left;
 }