
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');/*구글 폰트1*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); /*아이콘 사용하기 위한 코드2*/
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin : 0; padding : 0; height : 100%; width:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html { margin : 0; padding : 0; height : 100%; width:100%;}
.App {
  font-size: 15px;
  font-family: 'Gowun Batang', serif;
}
.homeBlock1 {
    display:inline-block; 
    border: 1px solid gray; 
    color: #e6c619;
    font-weight:bold;
    font-size: 20px;
    width:700px; 
    height:250px;
    margin-top: 80px;
}
.homeBlock2 {
    display:inline-block; 
    border: 1px solid gray; 
    color: #e6c619;
    font-weight:bold;
    font-size: 20px;
    width:300px; 
    height:200px;
    margin-top: 100px;;
}

.left {
    text-align : left;
}
#header {
    text-align : center;
    width : 100%;
    height : 10dvh;
 }
#logo {
    width: 15%;
    padding-top: 1%;
    display: inline-block;
    float: left;
}

.main_image {
    position: relative;
    padding: 0px;
    height: 130px;
  }
  .main_image_text {
    position: absolute;
    font-size: 20px;
    top: 65px;
    left: 50%;
    transform: translate( -50%, -50% );
  }
#menu {
    width: 70%;
    float: left;
    font-size: 14px;
}
#login {
    width: 15%;
    height: 10dvh;
    margin-top: 10px;
    float:left;
    font-size: 12px;
}
.loginInput{
    margin: 50px auto 0 auto;
    display: flex;
    height: 70px;
    justify-content: center;
}
.loginInput input {
    width: 500px;
    font-size: 16px;
}
.loginIcon{
    margin-top: 10px;
}
#nav {
    width : 15%;
    height : 80dvh;
    float : left;

}
.fixed {
    position: fixed;
    top : 15dvh;
    left: 20px;
    width : 13%;
    height : 80dvh;
}
.fixed div ul {
    height: 65dvh;;
}
.fixed div ul li {
    text-decoration-line : none;
    margin : 10% 0 10% 0;
}
#section {
    width : 70%;
    height : 80dvh;
    float : left;
}
.fontFt {
    font-size: 15px;
}
.widthTh {
    width: 200px;
}
.fontTw {
    font-size: 20px;
}
#div {
    margin-bottom: 5%;
}
.div1 {
    padding: 0px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
.div2 {
    display: block;
}
.div1 p {
    background-color : #0606C0;
    float:left;
    bolder: 0px;
    height: 40px;
}
.div1-title {
    text-align: center;
    color: white;
    font-size: 21px;
    width: 15%;
    margin: 0px;
    height: 42px;
    line-height: 42px;
}
.div1-sub1 {
    background-color : #0606C0;
    width: 100%;
    height: 3px;
}
.div1-sub2 {
    background-color: #EEEEEE;
    width: 100%;
    height: 39px;
    padding: 10px;
}
.div1-sub {
    width: 85%;
}
ul li {
    list-style-type : none;
}
.div2-title {
    color: blue;
    font-size: 17px;
}
.moreBtn {
    margin-left: 93%;
    background-color: white;
    border-width: 0.2px;
}
#recommandInput {
    margin-top: 50px;;
    margin-bottom: 20px;
    background-color: #EEEEEE;
    border: none;
    /*border-bottom: 1px solid;*/
    font-size: 18px;
    resize: none; /* 크기 변동을 못하게 한다.*/
    padding: 5px; /*내부 여백을 5px로 설정하여 내부 텍스트 주위에 5px 여백을 준다.*/
    overflow: hidden; /* 스크롤바를 생성하지 않는다. */
    box-sizing: border-box; /* 박스 형태는 border-box로 설정한다. border-box와 content-box는 height를 서로 다르게 설정한다. 우리는 border-box 형태로 height를 설정할 것인데, 자세한 내용은 아래에 나온다.*/
}
#recommandInput:focus {
    outline: none;
    border-bottom: 1.9px solid;
}
.b {
    font-size:15px;
    position: absolute;
    background-color:white;
    left:80%;
    bottom:5%;
}
.b:hover {
    text-decoration: underline;
}
.block {
    font-size: 14px;
    background-color: #EEEEEE;
    display: flex;
    width: 500px;
    height: 100px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    margin-bottom: 50px;
    padding: 10px;
}
.bold {
    font-weight: bold;
}
.Search_box {
    margin: 120px auto;
    display: flex;
    justify-content: center;
}
#option, #query, #icon {
    display : inline-block;
    height: 60px;
    font-size: 20px;
}
#option {
    width: 120px;
}
#query {
    width : 500px;
}
#icon{
    width : 60px;
    size: 7px;
}
#nav-tabs {
    position : static;
}
#tab-cont {
    position : static;
}
#aside {
    width : 15%;
    height : 80dvh;
    float : left;
}

footer {
    width : 100%;
    height : 10dvh;
    float : left;
}
a {
    text-decoration : none;
}
#k {
 width:100%;
}
#q {
    padding-top: 1%;
    width: 15%;
    float: left;
 }